page-mosthundred {
	.scroll-content {padding: 8px !important;}
	.content-md {background-color: rgba(222,222,222,0.4);}
	.pl_5{padding-left:5px !important;}
	.p_2{padding:2px;}
	.header_div{height: 30px;line-height: 25px;color: #fff;margin-bottom: 3px;font-weight: 600;  border: 0px solid rgba(102, 102, 102, 0.5);}
	.bg_fff{background-color:#fff;}
	.font12{font-size:12px;}
	.font13{font-size:13px;}
	.STATmost {font-size: 9px !important;line-height: 20px;font-weight: 400;}
    .team_statics {color: #666;}
	.mb_2{margin-bottom:2px;}
	.text_center{text-align:center;} 
	.pt_15{padding-top:15px;}
	.font20{font-size:20px;}
}
