page-selfie {
	.mainframe { position: absolute; left: 0px; top: 0px; }
	.maindiv { position: relative; margin-top: 2%; overflow: hidden;} 
	.width100 { width: 100%; }
	.width99 { width: 99%; }
	.width48 { width: 48%; }
	
	.height100 { height: 100%; }
	.file_chooser { height: 150px; width: 150px; position: absolute; top: 5px; left: 0; opacity: 0; right: 0; margin: auto; }
	.upload_btn{width:150px; margin:15px auto; display:block;}
	.font20{font-size:20px;}
}
