page-teams {
	.scroll-content {padding: 0px !important;}
	.list-md .item-block .item-inner {border-bottom: 0px solid #dedede;border-top: 0px solid #dedede;}
    .item-md.item-block .item-inner {padding-right: 8px; border-bottom: 0px solid #dedede;}
	.item-md .item-button {padding: 0px 0;height: 35px;font-size: 35px;}
	.button-clear-md {color: #ccc !important;}
	ion-label {white-space: inherit !important;}
	
	.bottomline{ border-bottom: 2px solid #dedede; }
	.item-md ion-avatar { min-width: 60px;min-height: 60px;}
	.item-md ion-avatar ion-img, .item-md ion-avatar img { width: 60px; height: 60px;}
	.lh_20{line-height: 20px;}
	.fullname_text{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-weight: 500;font-size: 16px;width: 230px;}
	.owner_text{    display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden; text-overflow: ellipsis;}
}
