page-livetv {
 	
 .sponsor{height: 45px; width: 100%; text-align: center; line-height: 45px; font-size: 16px; color: #fff;position: absolute; bottom: 0; z-index:10;}
 .bottom_tag{font-size: 14px;color:#fff; margin:0px; line-height:45px;}
  }
