<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile Info</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding >
    <div class="Myrow">
    <ion-grid no-padding>
      <ion-row class="pt_20 pb_40">
        <ion-col col-6 class="m_auto">
          <ion-avatar item-start class="PlayerImage" class="br_50p border666 m_auto pt_3">
              <img src={{result.player_image}} onError="src = 'assets/image/avatar/avatar.jpg'" class="br_50p m_auto">
            </ion-avatar>
         </ion-col>
         <ion-col col-6 class="m_auto">
          <ion-avatar item-start class="PlayerImage" class="br_50p border666 m_auto pt_3">
              <img src={{result.team_image}} onError="src = 'assets/image/icon.png'" class="br_50p m_auto">
               <p class="CountryName color_666">{{result.team_name}}</p>
            </ion-avatar>
         </ion-col>
      </ion-row>
      
      
      <ion-row class="SegmentRow">
        <ion-segment [(ngModel)]="PlayerDetail" color="primary" class="bg_fff" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="bio"  [ngClass]="(bioFlag == true) ? 'BlueColor' : ''">
             Bio
          </ion-segment-button>
          <ion-segment-button value="batting" >
            Batting
          </ion-segment-button>
          <ion-segment-button value="bowling">
            Bowling
          </ion-segment-button>

        </ion-segment>
      </ion-row>
    
    </ion-grid>
  </div>

  <!-- Coding For Personal Infomation -->
  <div *ngIf="bioFlag" class="pt_10">
      <div class=" h_30 ">
        <h2 class="info_text">PERSONAL INFORMATION</h2>  
      </div> 
      <div class="bg_fff">
       <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Name</p><p class="w2">:</p><p  class="w78 pr_20 "><b>{{result.name}}</b></p></div> 
      </div> 
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">DOB</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.dob}}</b></p></div>  
      </div> 
      <div class="bg_fff">
       <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Age</p><p class="w2 ">:</p><p class="w78 pr_20 "><b>{{result.age}}</b></p></div>  
      </div> 
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Married</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.marital_status}}</b></p></div>
      </div>
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Bidding</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.bid}}</b></p></div>
      </div>
  </div>
  <!-- Coding For Personal Infomation -->
   <!-- Coding For Batting -->
  
  <div *ngIf="battingFlag" class="pt_10">
      <div class=" h_30 ">
        <h2 class="info_text">Batting Averages</h2>  
      </div> 
      <div class="bg_fff">
       <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Matches</p><p class="w2">:</p><p  class="w78 pr_20 "><b>{{result.m}}</b></p></div> 
      </div> 
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Innings</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.i}}</b></p></div>  
      </div> 
      <div class="bg_fff">
       <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">NO</p><p class="w2 ">:</p><p class="w78 pr_20 "><b>{{result.no}}</b></p></div>  
      </div> 
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Runs</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.run}}</b></p></div>
      </div>
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Highest</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.hs}}</b></p></div>
      </div>
       <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Average</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.avg}}</b></p></div>
      </div>
       <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">BF</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.bf}}</b></p></div>
      </div>
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">SR</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.sr}}</b></p></div>
      </div>
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">50s</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.fifties}}</b></p></div>
      </div>
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">100s</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.hundreds}}</b></p></div>
      </div>
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">4s</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.four}}</b></p></div>
      </div>
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">6s</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.six}}</b></p></div>
      </div>
  </div>
   <!-- Coding For Batting -->
  
    <!-- Coding For Bowling -->
     <div *ngIf="bowlingFlag" class="pt_10">
      <div class=" h_30 ">
        <h2 class="info_text">Bowling Averages</h2>  
      </div> 
      <div class="bg_fff">
       <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Matches</p><p class="w2">:</p><p  class="w78 pr_20 "><b>{{result.m}}</b></p></div> 
      </div> 
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Innings</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.bowling_i}}</b></p></div>  
      </div> 
      <div class="bg_fff">
       <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Balls</p><p class="w2 ">:</p><p class="w78 pr_20 "><b>{{result.bowling_balls}}</b></p></div>  
      </div> 
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Runs</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.bowling_run}}</b></p></div>
      </div>
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Wickets</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.bowling_wicket}}</b></p></div>
      </div>
       <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Average</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.bowling_avg}}</b></p></div>
      </div>
       <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Economy</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.bowling_eco}}</b></p></div>
      </div>
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">SR</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.bowling_sr}}</b></p></div>
      </div>
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">Ct</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.ct}}</b></p></div>
      </div>
      <div class="bg_fff">
        <div class="info_name w100p dis_flex ptb_10"><p class="w20 ">St</p><p class="w2 ">:</p><p  class="w78 pr_20 "><b>{{result.st}}</b></p></div>
      </div>
  </div>
    
    
   
</ion-content>
