page-scoreboard { 
	.scroll-content {padding: 2px !important;}
	.content-md {background-color: rgba(222,222,222,0.4);}
	.pl_5{padding-left:5px !important;}
	.p_2{padding:5px;}
	.pimg_2{padding:2px;}
	.header_div{ height: 30px;line-height: 25px;color: #fff;margin-bottom: 3px;font-weight: 600;  border: 0px solid rgba(102, 102, 102, 0.5);}
	.header_div_score{height: 40px;line-height: 25px;color: #fff;margin-bottom: 3px;font-weight: 600;  border: 0px solid rgba(102, 102, 102, 0.5); background-color:slategrey;}
	.bg_fff{background-color:#fff;}
	.font12{font-size:12px;}
	.font13{font-size:13px;}
	.STATmost {font-size: 10px !important; font-weight: 400;line-height: 14px;margin-top: 5px;}
    .team_statics {color: #666;}
	.mb_2{margin-bottom:2px;}
	.text_center{text-align:center;} 
	.pt_15{padding-top:15px;}
	.font20{font-size:20px;}
	.tossdetail{font-size: 12px; text-align: center; margin-bottom: 5px;}
	.team_image{height:30px; width:30px; border-radius:7px; margin-right:5px; margin-top:3px; float:left;}
	.header_div_score p{float:left; line-height:36px;}
	.color_green{color: green;}
	.w100{width:100%;}
}
