page-aboutus {
	.aboutus{color: #666;
    width: 95%;
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 18px;}
	.content-md {background-color: rgba(222,222,222,0.4);}
	.aplby {
    width: 100%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    padding-top: 10px;
}
}
